body{
    width:1100px;
    margin:0px;
    padding:0px;

}
#pokedex{
    border:30px solid red;
    width:500px;
    height:600px;
    position:relative;
    left:1200px;
    top:400px;
    background-size:300px;
    font-size:1.6em;
    background-position:center right;
    background-repeat:no-repeat;
    padding-bottom:90px;
    border-radius:10px;
}
body img{
position:relative;
top:-700px;
}